* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
    background-image: url("../img/preto.jpg");
}

#stopwatch {
    background-color: #1e1e1e;
    opacity: 95%;
    padding: 2rem;
    border-radius: 8px;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #262626;
    height: 250px;
    width: 250px;
    border: 3px solid #ececec;
    border-radius: 100%;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 1.5rem;
    padding: 4rem;
}

#actions {
    display: flex;
    gap: 0.5rem;
}

#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #e0e7ff;
    color: #262626;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

#actions button:hover {
    background-color: #c4b5fd;
}

#marks-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: #ffffff;
}

#marks-list p:first-child {
    margin-top: 1.5rem;
}
